body {
    margin: 0;
    background-color: #dac280;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    margin-top: 5%;
    width: 45%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 0 9px #888888;
}

.content-header {
    font-size: 26px;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
}

.content-topic {
    padding-top: 50px;
    font-size: 18px;
}

.content-link {
    padding-top: 50px;
}
