.header {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  background-color: #1a2039;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #f6f6f7;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.header a:not(:last-child) {
  border-right: 1px solid #57606f;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #d9d8da;
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    border-right: none;
  }
  .header-right {
    float: none;
  }
}

body {
    margin: 0;
}
