.notification-container {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.notification {
    background-color: #f44336; /* Red background color */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.notification p {
    margin: 0;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
}

.notification.success {
    background-color: #4caf50;
}

.notification.success .close-btn {
    color: white;
}