.project-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f7;
    margin: 0;
    padding: 0;
}

.project-header {
    background-color: #f6f6f7;
    color: black;
    text-align: center;
    padding: 20px 0;
}

.project-content {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 48%;
    flex-grow: 1;
}

.project-card-text-container {
    font-family: 'Roboto Slab', serif;
    font-weight: 10;
}

.project-card-text {
    color: black;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 110px;
    transition: max-height 0.3s ease;
}

.project-card-text.expanded {
    max-height: none;
}

.project-card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.no-projects {
    text-align: center;
    color: #666;
}

.show-more-btn {
    background-color: #1a2039;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    margin-top: auto;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .project-card {
        width: 100%;
    }

    .project-card-text {
        max-height: none;
    }
}
