{% extends 'homepage/homepage.html' %}
{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lviv Choropleth Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/map_style.css' %}">
</head>
<body>
    <div id="map"></div>
    <div id="district-info-container"></div>
    <script>
        const map = L.map('map', {
            dragging: false,
            scrollWheelZoom: false,
            maxZoom: 11,
            minZoom: 11
        }).setView([49.842957, 24.031111], 11);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var districtsData = {% include 'citymap/dist_json.json' %};

        districtsData.forEach(function(districtData) {
            const coordinates = districtData.coordinates.map(function (point) {
                return [point.lat, point.lon];
            });
            const districtBoundary = L.polygon(coordinates, {
                fillColor: 'darkblue',
                fillOpacity: 0.5,
                color: 'darkblue',
                weight: 2
            }).addTo(map);
            districtBoundary.bindPopup(districtData.name);

            districtBoundary.on('click', function (e) {
                document.getElementById('district-info-container').innerHTML = '';
                document.getElementById('district-info-container').innerHTML = '<h3>' + districtData.name + ':</h3>';
            });

            districtBoundary.on('mouseover', function (e) {
                districtBoundary.setStyle({
                    fillOpacity: 1
                });
            });

            districtBoundary.on('mouseout', function (e) {
                districtBoundary.setStyle({
                    fillOpacity: 0.5
                });
            });
        });
    </script>
</body>
</html>
{% endblock %}
