{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rethink+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="content-topic">
            <p>Вітаємо у профілі, {{ username }}!</p>
            <a href="/">Go to homepage</a>
            <a href="{% url 'logout_view' %}">Logout</a>
        </div>
    </div>
</body>
</html>
