{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rethink+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-header">
        <div class="topic">
            <p>Вітаємо у профілі, {{ user.username }}!</p>
            <a href="/">Go to homepage</a>
            <a href="{% url 'logout_view' %}">Logout</a>
        </div>
    </div>
<div class="content">
    <div class="profile-picture">
        <img src="{{ profile_picture }}" alt="Profile Picture">
    </div>
    <p>Username: <span id="username">{{ user.username }}</span> <a href="#" id="change-username-link">Change</a></p>
    <div id="username-form-container" style="display: none;">
        <form id="username-form" action="{% url 'update_username' %}" method="post">
            {% csrf_token %}
            <label for="new-username">New Username:</label>
            <input type="text" id="new-username" name="new_username">
            <button type="submit">Change Username</button>
        </form>
    </div>
    <p>Email: <span id="email">{{ user.email }}</span></p>
    <form id="profile-picture-form" action="{% url 'update_profile_picture' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="new-profile-picture">New Profile Picture:</label>
        <input type="file" id="new-profile-picture" name="profile_picture">
        <button type="submit">Change Profile Picture</button>
    </form>
</div>
    {% if error_message %}
<div class="notification-container" data-duration="3000">
    <div class="notification">
        <span class="close-btn" onclick="closeNotification()">×</span>
        <p>{{ error_message }}</p>
    </div>
</div>
    {% elif success_message %}
<div class="notification-container" data-duration="3000">
    <div class="notification success">
        <span class="close-btn" onclick="closeNotification()">×</span>
        <p>{{ success_message }}</p>
    </div>
</div>
{% endif %}
<script src="{% static 'js/notification.js' %}"></script>
<script src="{% static 'js/change_username.js' %}"></script>
</body>
</html>
