{% extends 'homepage/homepage.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{% static 'css/admin_panel_style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Select an option</h2>
        <div class="plate" onclick="window.location.href='{% url 'reported_comments' %}'">
            <h2>Reported Comments</h2>
        </div>
        <div class="plate" onclick="window.location.href='{% url 'reported_projects' %}'">
            <h2>Reported Projects</h2>
        </div>
        <div class="plate" onclick="window.location.href='{% url 'proposals' %}'">
            <h2>Proposed Project Ideas</h2>
        </div>
    </div>
</body>
</html>
{% endblock %}