header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
body {
    margin: 0;
}
.header-buttons {
    margin-top: 20px;
}
.header-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
}