{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'homepage_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rethink+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>City Voting Platform</h1>
        <div class="header-buttons">
            <a href="/profile">Profile</a>
            <a href="/sing_in">Login</a>
            <a href="/sing_up">Register</a>
        </div>
    </header>
</body>
</html>
