{% extends 'homepage/homepage.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center mb-3">Projects</h1>
    {% if latest_project_list %}
        {% for project in latest_project_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="{% url 'detail' project.id %}" class="btn btn-primary btn-sm">Vote Now</a>
                    <a href="{% url 'results' project.id %}" class="btn btn-secondary btn-sm">Results</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No projects available</p>
    {% endif %}
{% endblock %}